fastapi
uvicorn[standard]
requests
sqlalchemy
pymysql
python-jose[cryptography]
pydantic[email]
pydantic-settings
python-multipart
passlib[bcrypt]
alembic
python-dotenv
pytz
apscheduler
minio
beautifulsoup4